{% extends "@Admin/layout_base.html.twig" %}
{% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% block title %}Transport{% endblock %}

{% block page_content %}
<a href="{{ path('transport_index', {'token': token}) }}" title="">liste</a><br>
{{ form_start(form) }}

{{ form_errors(form.name) }}
{{ form_widget(form.name) }}

{{ form_errors(form.detail) }}
{{ form_widget(form.detail) }}

{{ form_widget(form.recaptcha) }}

<button type="submit">save</button>

{{ form_end(form) }}
{% endblock %}
