{{ form_start(form) }}

{{ form_errors(form.name) }}
{{ form_widget(form.name) }}

{{ form_errors(form.detail) }}
{{ form_widget(form.detail) }}

<button type="submit">save</button>

{{ form_end(form) }}
